body{
	background: #556270;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FF6B6B, #556270);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FF6B6B, #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*
.app{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.signupform{
	border: 2px solid red;
	width: 500px;
	background-color: white;
	border-radius: 25px;
	padding: 20px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form_body{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}
.form_body input{
	margin: 5px;
	width: 100%;
}
*/
form {
  width: 500px;
  margin: 50px auto;
  border-radius: 10px;
  padding: 30px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

label {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  display: block;
}

button[type="submit"] {
  width: 90%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #444;
}

.error {
  color: #D63301;
  font-size: 14px;
  margin-bottom: 10px;
}
