body{
	background: #556270;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FF6B6B, #556270);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FF6B6B, #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.app{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*
.signupform{
	border: 2px solid red;
	width: 500px;
	background-color: white;
	border-radius: 25px;
	padding: 20px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form_body{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}
.form_body input{
	margin: 5px;
	width: 100%;
}
*/